<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.onschool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnSchool">


        <activity
            android:name="id.onschool.WebMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="id.onschool.HomeActivity"/>
        <activity
            android:name="id.onschool.MainActivity" />
        <activity
            android:name="id.onschool.LandingActivity" />
        <activity
            android:name="id.onschool.LoginActivity" />
        <activity
            android:name="id.onschool.LokakaryaActivity" />
        <activity
            android:name="id.onschool.SignupActivity" />
        <activity
            android:name="id.onschool.ProfileActivity" />


    </application>

</manifest>